Source: grim
Section: x11
Priority: optional
Maintainer: Sway and related packages team <team+swaywm@tracker.debian.org>
Uploaders: Birger Schacht <birger@debian.org>
Build-Depends: debhelper-compat (= 13),
               libpng-dev,
               libpixman-1-dev,
               libwayland-dev,
               meson,
               pkg-config,
               scdoc,
               wayland-protocols (>= 1.14),
Standards-Version: 4.6.0.1
Homepage: https://wayland.emersion.fr/grim/
Rules-Requires-Root: no
Vcs-Git: https://salsa.debian.org/swaywm-team/grim.git
Vcs-Browser: https://salsa.debian.org/swaywm-team/grim

Package: grim
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: command-line utility to make screenshots of Wayland desktops
 grim is a command-line utility to take screenshots of Wayland desktops. For now
 it requires support for the screencopy protocol to work. Support for the
 xdg-output protocol is optional, but improves fractional scaling support.
 grim will write a PNG to a file or to stdout.
